@import "fonts";
@import "reset";

$maxWidthContainer: 1340;

@mixin av($v, $pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    //Только если меньше контейнера
    #{$v}: $pcSize + px;

    @media (max-width: #{$maxWidthContainer + px}) {
        #{$v}: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 430px) / #{$maxWidthContainer - 430}));
    }

}

body {
    font-family: 'Circe', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: #5C5B5E;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex-grow: 1;
    position: relative;
}
.footer{
    margin: auto 0 0 0;
}

.container{
    max-width: $maxWidthContainer+px;
    margin: 0 auto;
    padding: 0px 15px;
    width: 100%;

    .big{
        max-width: 1490px;
    }
}

.rvbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    outline:none;
    cursor: pointer;
    text-decoration: none;
    border:none;

    // display: flex;
    // justify-content: center;
    // align-items: center;
    // text-align: center;
    // padding: 15px;
    // font-size: 18px;
    // font-weight: 500;
    // color:#fff;
    // border-radius: 7px;
    // background: #F74F4F;
    // outline:none;
    // cursor: pointer;
    // transition: .3s ease;
    // &:hover{
    //     background-color: darken($color: #f74f4f, $amount: 10);
    // }

    // &.blue{
    //     background-color: #004585;
    //     &:hover{
    //         background-color: darken($color: #004585, $amount: 10);
    //     }
    // }
}

.swiper-pagination {
    display: inline-flex;
    position: static;
    color: #fff;
    width: auto;
    font-size: 15px;
    font-weight: bold;
}

.swiper-button-prev {
    position: static;
    flex: 0 0 36px;
    height: 36px;
    border-radius: 6px;
    border: 1px solid #fff;
    margin-top: 0;

    &:after {
        color: #fff;
        width: 8px;
        height: 16px;
        font-size: 16px;
    }
}

.swiper-button-next {
    position: static;
    flex: 0 0 36px;
    height: 36px;
    border-radius: 6px;
    border: 1px solid #fff;
    margin-top: 0;

    &:after {
        color: #fff;
        width: 8px;
        height: 16px;
        font-size: 16px;
    }
}
.breadcrubms {
    font-size: 14px;
    display: flex;
    list-style:none;
    li{
        &::after {
                content: '+';
                margin: 0px 10px;
                font-weight: 700;
                font-size: 16px;
            }
            &:last-child:after{
                display: none;
            }
    }
    a{
        color:#5C5B5E;
        transition: .5s color;
        text-decoration: none;
        &:hover{
            color: #25539D;
        }
        
    }
    span{
        color:#25539D;
    }
    @media(max-width: 580px){
        display: none;
    }
}
@import "./components/*.scss";

.single-head {

    
    padding-bottom: 58px;
    // .single-head__title

    &__top{
        background-color: #25539D;
        padding-top: 92px;
        padding-bottom: 28px;
        margin-bottom: 23px;
        @media(max-width: 768px){
            padding-bottom: 0;
        }
    }
    &.bg {
        .single-head__top{
            background-image: url('../img/header/bgplus.png');
                background-position: right top;
                background-repeat: no-repeat;
        }
    }

    &__title {
        color: #009EE3;
        font-size: 36px;
        font-weight: 700;
    }

    // .single-head__wrapper

    &__wrapper {
        display: flex;
        align-items: center;
        gap:10px;
        padding-bottom: 10px;
        @media(max-width: 768px) {
            flex-wrap: wrap;
        }
    }

    // .single-head__links

    &__links {
        margin-left: 60px;
        display: flex;
        align-items: center;
        gap:30px;
        font-size: 18px;
        a{
            color:#fff;
            text-decoration: none;
            &.active{
                color:#009EE3;
            }
        }
        @media(max-width: 768px) {
            flex:1 1 100%;
            order:3;
            // margin-top: 30px;
            background-color: #3E3D40;
            // margin-left: 0;
            margin: 30px -15px -10px -15px;
            padding: 15px;
        }
    }

    // .single-head__years

    &__years {
        font-size: 18px;
        margin: 0 200px 0 auto;
        display: flex;
        align-items: center;
        gap:30px;
        position: relative;
        @media(max-width: 768px) {
            gap: 15px;
            margin: 0px 15px;
        }
        &::before{
            content:'';
            width: 2px;
            height: 63px;
            background-color: #009EE3;
            position: absolute;
            left: -30px;
            bottom: -38px;
            @media(max-width: 768px) {
                height: 30px;
                bottom: 0;
                left: -15px;
            }
        }
        a {
            color: #fff;
            text-decoration: none;
            &.active {
                color: #009EE3;
            }
        }
        @media(max-width: 1000px){
            margin-right: 0;
        }
        
    }
}


.company-features {

    // .company-features__row

    &__row {
        display: flex;
        @media(max-width: 768px){
            flex-direction: column;
        }
    }

    // .company-features__col

    &__col {
        flex: 0 0 50%;
        position: relative;
        min-height: 236px;
        img{
            position:absolute;
            left:0;
            top:0;
            width:100%;
            height:100%;
            object-fit:cover;
        }
        &:first-child{
            padding-left: calc((100vw - (#{$maxWidthContainer}px)) / 2);
            @media(max-width: #{$maxWidthContainer}px) {
                padding-left: 15px;
            }
        }
        &:last-child{
            padding-right: calc((100vw - (#{$maxWidthContainer}px)) / 2);
            
            @media(max-width: #{$maxWidthContainer}px) {
                padding-right: 15px;
            }
        }
        @media(max-width: 768px){
            order:2;
            &.content{
                order:1;
            }
        }       
    }

    &__content{
        padding: 50px 0px;

        .right &{
            padding-left: 30px;
            @media(max-width: 768px){
                padding-left: 15px;
            }
        }

        ul{
            list-style: none;
            li{
                padding-left: 60px;
                position: relative;
                margin-bottom: 40px;
                &::before{
                    content: "";
                    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzEiIHZpZXdCb3g9IjAgMCAzMiAzMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTMxLjgzIDExLjA1SDE5LjIzVjEuNDVDMTkuMjMgMC42NSAxOC41OCAwIDE3Ljc4IDBIMTIuNDhDMTEuNjggMCAxMS4wMyAwLjY1IDExLjAzIDEuNDVWMTEuMDVIMS40NUMwLjY1IDExLjA1IDAgMTEuNyAwIDEyLjVWMTcuNzFDMCAxOC41MSAwLjY1IDE5LjE2IDEuNDUgMTkuMTZIMTEuMDJWMjguODFDMTEuMDIgMjkuNjEgMTEuNjcgMzAuMjYgMTIuNDcgMzAuMjZIMTcuNzdDMTguNTcgMzAuMjYgMTkuMjIgMjkuNjEgMTkuMjIgMjguODFWMTkuMTZIMjcuMkwzMS44MiAxMS4wNEwzMS44MyAxMS4wNVoiIGZpbGw9IiMwMDlFRTMiLz4KPC9zdmc+Cg==);
                    background-repeat: no-repeat;
                    background-position: 50%;
                    background-size: contain;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translate(0, -50%);
                    width: 30px;
                    height: 30px;
                }
                display: flex;
                align-items: center;
                gap:10px;
            }
        }
        .number{
            @include av('font-size',100,56);
            // font-size: 100px;
            color:#009EE3;
        }
        .text{
            // font-size: 24px;
            @include av('font-size', 24, 16);
            color:#3E3D40;
            font-weight: 350;
        }
    }
}
.company-tabs {
    margin-bottom: 90px;
    margin-top: 54px;
    position: relative;
    // .company-tabs_tab

    &_tab {

    }

    // .company-tabs__header

    &__header {
        background-color: #25539D;
        padding: 22px;    
        display: flex;
        align-items: center;
        border-radius: 10px 10px 0 0;
        @media(max-width: 768px){
            svg{
                display: none;
            }
        }
    }

    // .company-tabs__title

    &__title {
        color:#fff;
        font-size: 24px;
        font-weight: 700;
        margin-left: 12px;
        margin-right: 80px;
        @media(max-width: 768px){
            margin-left: 0;
            margin-right: 16px;
            font-size: 16px;
        }
    }

    // .company-tabs__subtitle

    &__subtitle {
        color:#009EE3;
        font-size: 24px;
        font-weight: 700;
        padding-left: 38px;
        border-left:2px solid #009EE3;
        @media(max-width: 768px) {
                padding-left: 22px;
                font-size: 16px;
            }
    }

    // .company-tabs__actions

    &__actions {
        display: flex;
        flex:1 1 auto;
        justify-content: flex-end;
        align-items: center;
        gap:17px;
        // margin: 0 0 0 auto;
        @media(max-width: 768px){
            position: absolute;
                z-index: 12;
                bottom: 20px;
                right: 40px;
        }

    }

    // .company-tabs__body

    &__body {
        position: relative;
    }

    // .company-tabs__tablinks

    &__tablinks {
        position: absolute;
        top: 23px;
        left: 80px;
        z-index: 10;
        display: flex;
        gap:30px;
        @media(max-width: 768px){
            left: 20px;
        }

        .tablink{
            color:#009EE3;
            font-size: 14px;
            padding: 10px 40px;
            border-radius: 6px;
            background-color: #fff;
            text-decoration: none;
            font-weight: 700;
            &.active{
                background-color: #009EE3;
                color: #fff;
            }
        }
    }

    // .company-tabs__slider

    &__slider {
        .swiper-slide{
            position: relative;
            height: 725px;
            img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            @media(max-width: 768px){
                height: 245px;
            }
        }
       
    }
}

.news-archive {
    padding: 58px 0px 82px 0px;
    // .news-archive__grid

    &__grid {}

    // .news-archive__card

    &__card {
        margin-bottom: 44px;
        text-decoration: none;
        width: 100%;
        max-width: 976px;
        background-color: #F2F1F4;
        padding: 36px;
        display: flex;
        border-radius: 20px;
        justify-content: space-between;
        gap:20px;
        border:2px solid transparent;
        &:hover{
            background-color: #fff;
            border-color:#009EE3;
            box-shadow: 0px 4px 25px 0px rgba(37, 83, 157, 0.10);
            
        }
        &:nth-child(even){
            margin: 0 0 44px auto;
        }
        @media(max-width: 768px){
            flex-direction: column;
            padding: 26px;
            margin-bottom: 16px !important;
        }
        // .news-archive__card_left

        &_left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @media(max-width: 768px){
                flex-direction: row;
                align-items: flex-start;
            }
        }   

        // .news-archive__card_date

        &_date {
            color: #009EE3;
            @include av('font-size', 18, 12);
            font-weight: 400;
            text-align: center;
            line-height: 0.8;
            strong{
                display: block;
                @include av('font-size', 62, 43);
                font-weight: 400;
            }
        }

        // .news-archive__card_span

        &_span {
            font-size: 12px;
            color:#25539D;
            border-radius: 15px;
            background: #FFF;
            padding: 8px 22px;

            &.orange{
                background-color: #FF7A00;
                color:#fff;
            }

            .news-archive__card:hover &{
                background-color: rgba(#009EE3,0.2);
            }
        }

        // .news-archive__card_right

        &_right {
            max-width: 671px;
        }

        // .news-archive__card_title

        &_title {
            color: #25539D;
            line-height: 1.12;
            margin-bottom: 26px;
            @include av('font-size', 32, 18);
        }

        // .news-archive__card_text

        &_text {
            color:#5C5B5E;
            @media(max-width: 580px){
                display: none;
            }
        }
    }
}

.hod {

    // .hod__grid

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap:32px;
        @media(max-width: 1100px){
            grid-template-columns: repeat(2, 1fr);
        }
        @media(max-width: 768px){
            grid-template-columns:  1fr;
        }
    }

    // .hod__card

    &__card {
        border-radius: 10px;
        overflow: hidden;
        padding: 22px;
        position: relative;
        text-decoration: none;
        @include av('height', 278, 188);
        display: flex;
        align-items: flex-end;
        // .hod__card_poster

        &_poster {
            position:absolute;
            left:0;
            top:0;
            width:100%;
            height:100%;
            object-fit:cover;
        }

        // .hod__card_body

        &_body {
            position: relative;
            background-color: #fff;
            padding: 17px 23px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap:10px;
            width: 100%;
        }

        // .hod__card_date

        &_date {
            color:  #009EE3;
            @include av('font-size', 24, 18);
        }

        // .hod__card_span

        &_span {
            font-size: 14px;
            
            padding: 6px 16px;
            border-radius: 15px;
            background: #F2F1F4;
            color:#5C5B5E;
            @media(max-width: 580px) {
                    font-size: 12px;
                    padding: 4px 12px;
                }
        }
    }
}

.faq {

    // .faq__item

    &__item {
        margin-bottom: 27px;
        border-radius: 10px;
        border: 1px solid  #D4D3D6;
        background:  #FFF;
        overflow: hidden;
        // .faq__item_header

        &_header {
            padding: 32px;
            display: flex;
            align-items: center;
            gap:38px;

            .active &{
                background-color: #F2F1F4;
            }
        }

        // .faq__item_number

        &_number {
            color:  #009EE3;

                font-size: 28px;
                 font-weight: 700;

        }

        // .faq__item_title

        &_title {
            color: #25539D;
                font-size: 28px;
        }

        // .faq__item_btn

        &_btn {
            width: 167px;
            height: 45px;
            background-color: #009EE3;
            border-radius: 10px;
            color:#fff;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            margin: 0 0 0 auto;

            .active & {
                background-color: transparent;
                width: 27px;
                height: 27px;
                font-size: 0;
                background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyOCIgaGVpZ2h0PSIyOCIgZmlsbD0ibm9uZSIgdmlld0JveD0iMCAwIDI4IDI4Ij48ZyBmaWxsPSIjMjU1MzlEIiBjbGlwLXBhdGg9InVybCgjYSkiPjxwYXRoIGQ9Ik0yNy41NzkgMjYuMTY2IDEuNDE2LjAwMyAwIDEuNDE4IDI2LjE2NCAyNy41OGwxLjQxNS0xLjQxNVoiLz48cGF0aCBkPSJNMS40MTQgMjcuNTc5IDI3LjU3NyAxLjQxNiAyNi4xNjIgMCAwIDI2LjE2NGwxLjQxNSAxLjQxNVoiLz48L2c+PGRlZnM+PGNsaXBQYXRoIGlkPSJhIj48cGF0aCBmaWxsPSIjZmZmIiBkPSJNMCAwaDI3LjU4djI3LjU4SDB6Ii8+PC9jbGlwUGF0aD48L2RlZnM+PC9zdmc+");
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }
        }

        // .faq__item_body

        &_body {
            padding: 35px 100px;
            display: none;

            p{
                margin: 12px 0px;
            }
            .active & {
                display: block;
            }
        }
    }
}

.newsSingle-head {
    padding: 70px 0 28px 0;
    background-color: #25539D;
    margin-bottom: 23px;
    position: relative;

    // .newsSingle-head_date

    &_date {
        color:#009EE3;
        @include av('font-size',18,12);
        line-height: 1;
        text-align: center;
        strong{
            @include av('font-size', 60, 40);
            display: block;
            font-weight: 400;
        }
    }

    // .newsSingle-head_btn

    &_btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 142px;
        height: 45px;
        border-radius: 6px;
        border: 1px solid  #009EE3;
        background:  #25539D;
        text-decoration: none;
        color:#fff;
        text-transform: uppercase;
        font-size: 14px;
        margin: 0 0 0 auto;
        @media(max-width: 768px){
            position: absolute;
            right: 15px;
            top: 15px;
        }
    }

    // .newsSingle-head__wrapper

    &__wrapper {
        display: flex;
        align-items: center;
        @include av('gap', 44, 18);
    }

    // .newsSingle-head__title

    &__title {
        max-width: 671px;
        color:#fff;
        @include av('font-size', 32, 18);
        line-height: 1.12;
    }
}

.newsSingle-body {
    
    // .newsSingle-body__wrapper

    &__wrapper {
        max-width: 864px;
        padding-bottom: 52px;
        @include av('padding-top', 56, 38);
    }

    img,p{
        margin: 20px 0;
    }
}


.contacts-head {
    padding: 90px 0 37px 0;
    background-color: #25539D;
    &.bg {  
        background-image: url('../img/header/bgplus.png');
        background-position: right top;
        background-repeat: no-repeat; 
    }
    // .contacts-head__title

    &__title {
        color: #009EE3;
        @include av('font-size', 42, 32);
        line-height: 1.12;
        font-weight: 700;
    }
}



.contacts-body {

    // .contacts-body__wrapper

    &__wrapper {
        display: flex;
        @media(max-width: 768px){
            flex-direction: column;
        }
    }

    // .contacts-body__left

    &__left {
        flex:0 0 50%;
        padding: 22px 128px 200px 0px;
        padding-left: calc((100vw - (#{$maxWidthContainer}px)) / 2);
        
        @media(max-width: #{$maxWidthContainer}px) {
            padding-left: 15px;
        }
        @media(max-width: 768px){
            order:2;
            padding: 22px 15px;
        }
    }

    // .contacts-body__content

    &__content {
        padding-top: 100px;
        color: #5C5B5E;       
        font-size: 24px;
        line-height: 1.35;
        @media(max-width: 768px){
            padding-top: 0;
        }
    }

    // .contacts-body__title

    &__title {
        border-bottom:1px solid #F2F1F4;
        padding-bottom: 8px;
        color: #25539D;
        font-size: 28px;
        font-weight: 700;
        line-height: 1.35;
        margin-bottom: 20px;
    }

    // .contacts-body__name

    &__name {
        border-bottom:1px solid #F2F1F4;
        padding-bottom: 8px;
        color:  #25539D;
        font-size: 24px;
        font-weight: 400;
        line-height: 1.35;
        margin-bottom: 20px;
    }

    // .contacts-body__row

    &__row {
        color: #5C5B5E;
        font-size: 24px;
        line-height: 1.35;
        display: flex;
        gap:20px;
        text-decoration: none;
    }

    // .contacts-body__right

    &__right {
        flex:0 0 50%;
        position: relative;
        img{
            position:absolute;
            left:0;
            top:0;
            width:100%;
            height:100%;
            object-fit:cover;
        }
        padding-right: calc((100vw - (#{$maxWidthContainer}px)) / 2);

        @media(max-width: #{$maxWidthContainer}px) {
            padding-right: 15px;
        }
        @media(max-width: 768px){
            order:1;
            height: 350px;
            flex:1 1 auto;
        }
    }
}



.contacts-footer {
    background-color: #D4D3D6;
    padding: 44px 0px;
    .map__btns{
        flex-direction: row;
        max-width: 100%;
        width: 100%;
        .map__btn{
            flex: 1 1 auto;
        }
        @media(max-width: 1100px){
            flex-direction: column;
        }
    }
}

.documents-body{
    padding-top: 23px;
}
.documents-grid {
    margin-top: 52px;
    margin-bottom: 52px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap:20px;
    // .documents-grid__card

    &__card {
        border-radius: 10px;
        background: #FFF;
        box-shadow: 0px 4px 10px 0px rgba(37, 83, 157, 0.15);
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color:#848386;
        text-decoration: none;
    }
}

.select-page{
    padding-top: 38px;
    .appartments__header{
        margin-top: 30px;
    }
    .appartments__body{
        border-radius: 0;
        background-color: #fff;
        background-image: none;
    }
}

.invest-grid {
    margin-bottom: 120px;
    // .invest-grid__row

    &__row {
        display: flex;
        @media(max-width: 768px){
            flex-direction: column;
        }
    }

    // .invest-grid__content

    &__content {
        flex:0 0 50%;
        padding-top: 30px;
        padding-bottom: 60px;
        padding-left: calc((100vw - (#{$maxWidthContainer}px)) / 2);
        @media(max-width: #{$maxWidthContainer}px){
            padding-left: 15px;
        }
        .box{
            max-width: 560px;
            padding-right: 10px;
        }
        @media(max-width: 768px){
            flex:0 0 100%;
            order:1;
        }
    }

    // .invest-grid__poster

    &__poster {
        flex:0 0 50%;
        position: relative;
      
        img{
            position:absolute;
            left:0;
            top:0;
            width:100%;
            height:100%;
            object-fit:cover;
        }
        padding-right: calc((100vw - (#{$maxWidthContainer}px)) / 2);
        @media(max-width: #{$maxWidthContainer}px){
            padding-right: 15px;
        }

        &~.invest-grid__content{
            padding-left: 30px;
        }
        @media(max-width: 768px) {
            flex: 0 0 266px;
            height: 266px;
            order:2;
        }
    }

    .title{
        @include av('font-size', 32, 20);
        margin-top: 30px;
        margin-bottom: 30px;
        color:#009EE3;
        line-height: 1.12;
    }
    p{
        margin: 16px 0px;
        color:#3E3D40;
    }
}
.mfp-wrap{
    z-index: 999999;
}
.mfp-close{
    font-size: 44px;
    color:#25539D !important;
}
.white-popup {
    // position: relative;
    // background: #FFF;
    // padding: 20px;
    // width: auto;
    // max-width: 100%;
    // width: 100%;
    // height: 100%;
    // margin: 20px auto;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff url('../img/header/popup.png') no-repeat 10% 90%;
}

.popup {    
   
    // .popup__wrapper

    &__wrapper {
        max-width: 640px;
        width: 100%;
        padding: 15px;

        form {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap:24px;
            @media(max-width: 768px){
                grid-template-columns: 1fr;
            }
    
            .textbox {
                padding: 12px 24px;
                border-radius: 10px;
                border: 1px solid #009EE3;
                background: #FFF;
                color: #848386;
            }
    
            .rvbtn {
                background: linear-gradient(0deg, #009EE3 0%, #5EC1EA 100%);
                border-radius: 10px;
                min-height: 50px;
                text-transform: uppercase;
                color:#fff;
                font-weight: 700;
            }

            .agr{
                grid-column: span 2;
                @media(max-width: 768px){
                    grid-column: 1;
                }
            }
        }
    }

    // .popup__title

    &__title {
        @include av('font-size', 42,20);
        margin-bottom: 12px;
        color:#25539D;
    }

    // .popup__text

    &__text {
        color:#5C5B5E;
        @include av('font-size', 24, 16);
        margin-bottom: 32px;
    }

    
}



