<div class="abouthead">
    <div class="abouthead__top">
        <div class="container">
            <div class="abouthead__title">О комплексе</div>
            <ul class="breadcrubms">
                <li><a href="/">Главная</a></li>
                <li><span>О комплексе</span></li>
            </ul>
        </div>
    </div>
    <div class="abouthead__poster">
        <img src="assets/img/abouthead/bg.jpg" alt="bg">
    </div>
    <div class="abouthead__actions">
        <a href="#" class="rvbtn"><img src="assets/img/icons/filter.svg" alt="icon">Выбрать квартиру</a>
        <a href="#" class="rvbtn"><img src="assets/img/icons/location.svg" alt="icon">Расположение</a>
        <a href="#" class="rvbtn"><img src="assets/img/icons/phone.svg" alt="icon">Заказать звонок</a>
    </div>
</div>