<div class="features">
    <div class="container">
        <div class="features__wrapper">
            <div class="features__content">
                <div class="features__title">Много плюсов, а дом один.</div>
                <div class="swiper features__slider" id="features-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <ul>
                                <li>Благоустроенная придомовая территория.</li>
                                <li>Озеленение.</li>
                                <li>Современный новый детский игровой городок.</li>
                                <li>Своя парковка на территории</li>
                            </ul>
                        </div>
                        <div class="swiper-slide">
                            <ul>
                                <li>Благоустроенная придомовая территория.</li>
                                <li>Озеленение.</li>
                                <li>Современный новый детский игровой городок.</li>
                                <li>Своя парковка на территории</li>
                            </ul>
                        </div>
                        <div class="swiper-slide">
                            <ul>
                                <li>Благоустроенная придомовая территория.</li>
                                <li>Озеленение.</li>
                                <li>Современный новый детский игровой городок.</li>
                                <li>Своя парковка на территории</li>
                            </ul>
                        </div>
                    </div>
                    <div class="swiper-actions">
                        <div class="swiper-pagination" id="features-pagination"></div>
                        <div class="swiper-button-prev" id="features-prev"></div>
                        <div class="swiper-button-next" id="features-next"></div>
                    </div>
                </div>
            </div>
            <div class="features__poster">
                <img src="assets/img/features/poster.jpg" alt="poster">
            </div>
        </div>
    </div>
</div>