<div class="features features-small">
    <div class="container">
        <div class="features__wrapper">
            <div class="features__content">
                <div class="features__title">Широкий выбор финансовых инструментов для покупки</div>
                <div class="features__slider">
                    <ul>
                        <li>Рассрочка</li>
                        <li>Ипотека</li>
                        <li>Военная ипотека</li>
                        <li>Херсонские сертификаты</li>
                        <li>Жилищные субсидии</li>
                        <li>Материнский капитал</li>
                        <li>Налоговые вычеты</li>
                    </ul>
                </div>
                <div class="features__title">Квартиры отлично подойдут:</div>
                <div class="features__slider">
                    <ul>
                        <li>для молодежи в качестве первого жилья</li>
                        <li>для молодых пар с детьми</li>
                        <li>для пожилых родителей</li>
                        <li>в качестве инвестиций под сдачу в аренду</li>
                        <li>прописка в МО</li>
                    </ul>
                </div>
            </div>
            <div class="features__poster">
                <img src="assets/img/features/poster2.jpg" alt="poster">
            </div>
        </div>
    </div>
</div>