<div class="info">
    <div class="container">
        <div class="info__wrapper">
            <div class="info__left">
                <div class="info__row">
                    <div class="info__row_number">5</div>
                    <div class="info__row_text">
                        <strong>этажей</strong>
                        первый этаж - жилой
                    </div>
                </div>
                <div class="info__row">
                    <div class="info__row_number">100</div>
                    <div class="info__row_text">
                        <strong>квартир</strong>
                        широкий выбор современных
                        и практичных планировок
                    </div>
                </div>
                <div class="info__row">
                    <div class="info__row_number"></div>
                    <div class="info__row_text">
                        Все квартиры с отделкой под ключ,
                        дополнительное утепление фасада,
                        подъезды с дизайном
                    </div>
                </div>
            </div>
            <div class="info__right">
                <img src="assets/img/info/bg.jpg" alt="poster">
            </div>
        </div>
        <div class="info__btns">
            <a href="#" class="rvbtn"><img src="assets/img/icons/chart.svg" alt="icon">Для инвестиций</a>
            <a href="#" class="rvbtn"><img src="assets/img/icons/paint.svg" alt="icon">Отделка</a>
        </div>
    </div>
</div>