<div class="mainhead">
    <div class="mainhead__slider">
        <div class="swiper mainhead__slider_slider" id="mainhead-slider">
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <img src="assets/img/mainhead/s1.jpg" alt="poster" class="mainhead__slider_img">
                    <div class="container">
                        <div class="mainhead__slider_content">
                            <div class="mainhead__slider_number">от <strong>1.9</strong><br> млн руб.</div>
                            <div style="max-width:400px;">
                                <div class="mainhead__slider_title">старт продаж</div>
                                <div class="mainhead__slider_text">Квартиры с полной отделкой в тихом, зеленом жилом районе.
                                Остановка электричек в 5 мин. пешком.
                                До м. Выхино 1 час.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="assets/img/mainhead/s1.jpg" alt="poster" class="mainhead__slider_img">
                    <div class="mainhead__slider_content">
                        <div class="container">
                            TEXT
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="assets/img/mainhead/s1.jpg" alt="poster" class="mainhead__slider_img">
                    <div class="mainhead__slider_content">
                        <div class="container">
                            TEXT
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mainhead__bottom">
        <div class="mainhead__bottom_left">
            <a href="#" class="rvbtn"><img src="assets/img/icons/filter.svg" alt="icon">Выбрать квартиру</a>
            <a href="#" class="rvbtn"><img src="assets/img/icons/location.svg" alt="icon">Расположение</a>
            <a href="#" class="rvbtn"><img src="assets/img/icons/phone.svg" alt="icon">Заказать звонок</a>
        </div>
        <div class="mainhead__bottom_right">
            <div class="swiper-pagination" id="mainhead-slider-pagination"></div>
            <div class="swiper-button-prev" id="mainhead-slider-prev"></div>
            <div class="swiper-button-next" id="mainhead-slider-next"></div>
        </div>
    </div>
</div>