<div class="map">
    <div class="map__wrapper">
        <div class="map__content">
            <div class="map__title">
                Хорошая транспортная доступность для жителей, работающих в Москве:
            </div>
            <div class="map__text">
                <p><strong>300 м (5 мин)</strong> пешком до платформы Москворецкая</p>
                <p><strong>1час на экспрессе</strong> до метро Выхино</p>
            </div>
            <div class="map__btns">
                <a href="#" class="map__btn">
                    <div class="map__btn_left">
                        <img src="assets/img/icons/metro.svg" alt="icon">
                    </div>
                    <div class="map__btn_right">
                        <img src="assets/img/icons/road.svg" alt="icon">
                        <span>Проложить маршрут</span>
                    </div>   
                </a>
                <a href="#" class="map__btn">
                    <div class="map__btn_left">
                        <img src="assets/img/icons/bus.svg" alt="icon">
                    </div>
                    <div class="map__btn_right">
                        <img src="assets/img/icons/road.svg" alt="icon">
                        <span>Проложить маршрут</span>
                    </div>   
                </a>
                <a href="#" class="map__btn">
                    <div class="map__btn_left">
                        <img src="assets/img/icons/car.svg" alt="icon">
                    </div>
                    <div class="map__btn_right">
                        <img src="assets/img/icons/road.svg" alt="icon">
                        <span>Проложить маршрут</span>
                    </div>   
                </a>
            </div>
        </div>
        <div class="map__map">
            <img src="assets/img/map/map.jpg" alt="map">
        </div>
    </div>
</div>