<div class="news">
    <img src="assets/img/news/bg.jpg" alt="bg" class="news__bg">
    <div class="news__wrapper">
        <div class="container">
            <div class="news__body">
                <div class="news__header">
                    <div class="news__title">Новости</div>
                    <div class="news__br"></div>
                    <div class="news__actions">
                        <div class="swiper-pagination" id="news-pagination"></div>
                        <div class="swiper-button-prev" id="news-prev"></div>
                        <div class="swiper-button-next" id="news-next"></div>
                    </div>
                </div>
                <div class="swiper news__swiper" id="news-slider">
                    <div class="swiper-wrapper">
                        <a href="#" class="swiper-slide">
                            <div class="news__card">
                                <div class="news__card_date">17 октября 2023</div>
                                <div class="news__card_text">Началось устройство монолитных конструкций подземной части технопарка в жилом квартале</div>
                            </div>
                        </a>
                        <a href="#" class="swiper-slide">
                            <div class="news__card">
                                <div class="news__card_date">17 октября 2023</div>
                                <div class="news__card_text">Москвы, в пяти минутах от одноименного живописного парка и станции метро «Динамо».</div>
                            </div>
                        </a>
                        <a href="#" class="swiper-slide">
                            <div class="news__card">
                                <div class="news__card_date">17 октября 2023</div>
                                <div class="news__card_text">Монолитные работы выполнены более чем наполовину</div>
                            </div>
                        </a>
                        <a href="#" class="swiper-slide">
                            <div class="news__card">
                                <div class="news__card_date">17 октября 2023</div>
                                <div class="news__card_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, ipsa.</div>
                            </div>
                        </a>
                        <a href="#" class="swiper-slide">
                            <div class="news__card">
                                <div class="news__card_date">17 октября 2023</div>
                                <div class="news__card_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, ipsa.</div>
                            </div>
                        </a>
                        <a href="#" class="swiper-slide">
                            <div class="news__card">
                                <div class="news__card_date">17 октября 2023</div>
                                <div class="news__card_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, ipsa.</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>